body{
    margin:0;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    font-size: 45px;
    color:#142952;
}
h3{
    font-size: 32px;
    color: #142952;
    text-align: center;
}
h4{
    font-size: 22px;
    text-align: center;
    color: grey;
}
p{
    color: dimgray;
}
/* section{
    height:550px;
}
*/
.top-banner{
    padding-top: 5%;
    margin-bottom: 10%;
    height:550px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-left: 10%;
}
.blue-highlight{
    color: #142952;
}
.name-highlight{
    color:rgb(247, 121, 99);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightSalmon, tomato);
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.about-section{
    height:550px;
}
.working-projects{
    margin-top: 14%;
    margin-bottom: 26%;
    height:550px;
}
.working-projects h2{
    text-align: center;
    margin-bottom: 10%;
}
.lightSalmon-highlight{
    color: lightSalmon;
}
.one-third-width {
    float: left;
    width: 25%;
    margin-left: 6%;
    margin-bottom: 0%;
    box-shadow: 4px 6px 52px grey;
    border-radius: 8px;
    height: 92%;
    padding: 6px;
}
.one-third-width img{
    width: 100%;
    text-align: center;
}
.inqury {
    background-image: url(shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 98% 41%;
    padding-top: 113px;
    margin: 32px 112px -267px;
    height:550px;
}
.inqury-text{
    width: 50%;
    float: left;
}
.inqury-text h2 {
    font-size: 38px;
    text-align: center;
    color: white;
    margin-top: 0;
}
.chat-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightSalmon, tomato);
    background-color: orange;
    padding: 20px 31px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    margin-left: 32%;
    font-size: 17px;
}
.service{
    text-align: center;
    height: 261px;
    margin-top: 0px;
}
.service-one-thrid h2{
    text-align: center;
}
.service-one-thrid{
    float: left;
    text-align: center;
    margin-top: 10%;
    margin-left: 74px;
    box-shadow: 4px 6px 52px grey;
    border-radius: 8px;
    height: 300px;
    padding: 6px;
}
.service-one-thrid img {
    float: left;
    height: 70px;
    width: 80px;
    margin-left: 18px;
}
#vertical-gerdiant-one {
    border-left: 5px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
}
#vertical-gerdiant-two {
    border-left: 5px solid;
    border-image: linear-gradient(180deg,rgb(5, 17, 122), rgb(17, 17, 17));
    border-image-slice: 1;
}
#vertical-gerdiant-three {
    border-left: 5px solid;
    border-image: linear-gradient(180deg,rgb(17, 17, 17), rgb(224, 224, 224));
    border-image-slice: 1;
}
footer{
    display: block;
    text-align: center;
    height:194px;
    margin-top: 40%;
    margin-bottom: 10%;
}
.footer-text p{
    display: block;
    font-size: 40px;
    color:#142952;
}
.footer-icon img{
    width: 2%;
    margin-right: 2%;
}
